<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>picturefeatures</name>
	<displayName><![CDATA[picture features]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[picture features prestashop]]></description>
	<author><![CDATA[boughdiri.med.ali@gmail.com]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>
